<h1 class="container my-5" appCustom>PROJECT NAME</h1>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Large</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" routerLink="/comp1">COMP-1</a>
      <a class="p-2 text-muted" routerLink="/comp2">COMP-2</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0" [ngStyle]="{'color': 'red'}">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary" >World</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Post title</a>
          </h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
  </div>
</div>


<div>
  <router-outlet></router-outlet>
</div>


<div class="container border p-3">
  <h1>FILL DETAILS</h1>
  <form class="row g-3" [formGroup]="myForm" (ngSubmit)="OnSubmit()">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" formControlName="formname" placeholder="eg: zeenat aman" >
     <div *ngIf="myForm.get('formname')?.invalid && (myForm.get('formname')?.dirty || myForm.get('formname')?.touched)">
      <div class="text-danger" *ngIf="myForm.get('formname')?.errors" >
        Feild is required
      </div>
     </div>
    </div>

    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" formControlName="formemail" placeholder="amanzeenat207@gmail.com">
      <div *ngIf="myForm.get('formemail')?.invalid && (myForm.get('formemail')?.dirty || myForm.get('formemail')?.touched)">
        <div class="text-danger" *ngIf="myForm.get('formemail')?.errors">
          Feild is required
        </div>
       </div>
    </div>
    
    <div class="col-12">
      <label for="inputTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="inputTitle" formControlName="formtitle" placeholder="eg: Finance">
      <div *ngIf="myForm.get('formtitle')?.invalid && (myForm.get('formtitle')?.dirty || myForm.get('formtitle')?.touched)">
        <div class="text-danger" *ngIf="myForm.get('formtitle')?.errors">
          Feild is required
        </div>
       </div>
    </div>
  
    <div class="col-6">
      <label for="inputDepartment" class="form-label">Department</label>
      <input type="text" class="form-control" id="inputDepartment" formControlName="formdepartment" placeholder="eg:IT">
      <div *ngIf="myForm.get('formdepartment')?.invalid && (myForm.get('formdepartment')?.dirty || myForm.get('formdepartment')?.touched)">
        <div class="text-danger" *ngIf="myForm.get('formdepartment')?.errors">
          Feild is required
        </div>
       </div>
    </div>
    <div class="col-md-6">
      <label for="inputPosition" class="form-label">Position</label>
      <input type="text" class="form-control" id="inputPosition" formControlName="formposition" placeholder="eg:senior">
      <div *ngIf="myForm.get('formposition')?.invalid && (myForm.get('formposition')?.dirty || myForm.get('formposition')?.touched)">
        <div class="text-danger" *ngIf="myForm.get('formposition')?.errors">
          Feild is required
        </div>
       </div>
    </div>
  
  
  
    <!-- <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">Remember me</label>
      </div>
    </div> -->
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="OnUpdate()">Update</button>
    </div>
  </form>
  
</div>

<div class="col-md-6 container my-3" >
  <label for="inputName" class="form-label">Search details</label>
  <input type="text" class="form-control" placeholder="enter key" name="search" [(ngModel)]="searchText" autocomplete="off">
</div>
<table class="table align-middle mb-0 bg-white container border my-3 p-3">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Status</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of dataStore | filter : searchText">
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{x.name}}</p>
            <p class="text-muted mb-0">{{x.email}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{x.title}}</p>
        <p class="text-muted mb-0">{{x.department}}</p>
      </td>
      <td>
        <span>Active</span>
      </td>
      <td>{{x.position}}</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="OnEdit(x)">
          Edit
        </button>
  <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="OnDelete(x.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  
<table class="border container" *ngIf="on">
  <tr class="my-3" *ngFor="let sdata of studentList">
    <td class="p-3">{{sdata.name}}</td>
    <td>{{sdata.age}}</td>
  </tr>
</table>


<div>
  <div *ngFor="let sdata of studentList">
    <div >{{sdata.name}}</div>
    <div>{{sdata.age}}</div>
    </div>
</div>

<ul *ngFor="let sdata of studentList">
  <li [ngStyle]="{'color': 'red'}">{{sdata.name}}</li>
  <li>{{sdata.age}}</li>
</ul>
</div>

